<header>
  <div class="container_12">
    <div class="grid_13">
      <h1><a href="/"><img src="images/logo1.jpeg"></a> </h1>
      <div class="menu_block">
        <nav class="">
          <ul class="sf-menu">
            {{#if infoSession.isAdmin}}
            <li><a href='/AdminFormAdop'>Administrar Adopciones</a></li>
            {{/if}}

            {{#if infoSession.isAdmin}}
            <li><a href='/RegistroPerro'>Registrar Perro</a></li>
            {{/if}}

            <li class="current"><a href='/'>Inicio</a></li>

            <li><a href='/AboutUs'>Sobre Nosotros </a></li>

            {{#if infoSession.logged}}
            <li><a href='/PerrosAdop'>Perros en adopción</a></li>
            {{/if}}

            <li><a href='/Contact'>Contacto </a></li>

            {{#if infoSession.logged}}
            <li><a href='/logout'>Cerrar Sesión </a></li>
            {{else}}
            <li><a href='/LogIn'>Iniciar Sesión </a></li>
            {{/if}}

          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  {{#if infoSession.info.primerNombre}}
  **** BIENVENIDO {{infoSession.info.primerNombre}} ****
  {{/if}}
</header>