<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registrarse</title>
  <meta charset="utf-8">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  

  <style>
    .pt1 {
      background-image: url("images/fondoregis.jpg");
      background-size: cover;
      background-color: rgb(92, 89, 128);
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="js/jquery.js"></script>
  <!--script src="js/forms.js"></!--script-->
  <script src="js/jquery-migrate-1.1.1.js"></script>
  <script src="js/superfish.js"></script>
  <script src="js/jquery.equalheights.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.ui.totop.js"></script>

  <script>

    jQuery(document).ready(function () {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
  <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">

    <![endif]-->
</head>

<body>
  {{> header}}
  <div class="content pt1">
    <div class="ic"></div>
    <div class="container_12">
      <div class="grid_5 prefix_1">
        <form id="form" action="createUser" method="post">
          <div class="success_wrapper">
            <div class="success">Registro exitoso!<br>
              <strong>Ya puede inciar sesion.</strong>
            </div>
          </div>

          

          <fieldset class="form-register">
            <h4 class="ic1">Registro de Usuario:</h4>
            <div class="mpd">
              <label class="name">
                <input class="controls" type="text" name="nombre" placeholder="Primer Nombre:">
                <br class="clear">
                <span class="empty error-empty">*Este campo es requerido.</span> </label>
              <label class="name2">
                <input class="controls" type="text" name="nombre2" placeholder="Segundo Nombre:">
                <br class="clear">
              </label>
            </div>
            <div class="mpd">
              <label class="lname">
                <input class="controls" type="text" name="apel" placeholder=" Primer Apellido:">
                <br class="clear">
                <span class="empty error-empty">*Este campo es requerido.</span> </label>
              <label class="lname2">
                <input class="controls" type="text" name="apel2" placeholder=" Segundo Apellido:">
                <br class="clear">
                <span class="empty error-empty">*Este campo es requerido.</span> </label>
            </div>
            <div class="mpd">
              <label class="phone">
                <input class="controls" type="text" name="tel" placeholder="Telefono:">
                <br class="clear">
                <span class="error error-empty">*Este no es un telefono valido.</span> </label>
              <label class="email">
                <input class="controls" type="email" name="email" placeholder="E-mail:">
                <br class="clear">
                <span class="error error-empty">*Esta no es una direccion de email valida.</span>
                <span class="empty error-empty">*Este campo es requerido.</span>
              </label>
            </div>
            <div class="mpd">
              <label class="dir">
                <input class="controls" type="text" name="dir" placeholder="Direccion:">
                <br class="clear">
                <span class="empty error-empty">*Este campo es requerido.</span> </label>
              <label class="doc">
                <input class="controls" type="text" name="doc" placeholder="Documento:">
                <br class="clear">
                <span class="error error-empty">*este no es un documento valido.</span><span
                  class="empty error-empty">*Este campo es
                  requerido</span> </label>
            </div>
            <label class="contraseña">
              <div class="mpwd"><label for="pwd">Contraseña:</label><input class="controls" id="pwd" type="password"
                  name="pwd">
              </div>
            </label><br>
            <div class="clear"></div>
            <!--div class="btns"><a data-type="reset" class="btn">Limpiar</a><a data-type="submit"
                                class="btn">Registrarse</a>
                            <div class="clear"></div>
                        </div-->
              <div class="mpd">
              <button class="btn" type="submit">Registrarse</button>
              <button class="btn" type="reset" value="Reset">Limpiar</button>
              </div>
              <br>
              {{#if mensajeUsuario}}
              <label for="mensajeUsuario"><b>{{mensajeUsuario}}</b></label>
              {{/if}}
          </fieldset>
          
        </form>

      </div>


    </div>
  </div>
  <!--=======content================================-->



  <!--==============================footer=================================-->

  {{> footer}}
</body>

</html>